# Folders
ignore/
bin/

# Trash
.DS_Store
Thumbs.db

# Direnv
.direnv

# Sops
.decrypted~*

# Ansible
xanmanning.k3s*
.ansible/
ansible/roles/ansible-role-vyos/

# Terraform
## Local .terraform directories
**/.terraform/*

## .tfstate files
*.tfstate
*.tfstate.*

## terraform plan output
*tfplan*
