(common) {
  errors
  log
  reload
  loadbalance
  cache
  local
  mdns {{ ZONE }}
  wgsd {{ ZONE }}. wg01
  hosts {
    fallthrough
    ttl 1
    reload 300ms
  }
}

# Main
. {
  bind {{ LAN.GW }} {{ SERVERS.GW }} {{ WIRELESS.GW }} 127.0.0.1 ::1
  k8s_gateway {{ ZONE }} {
    resources Ingress
    ttl 30
    kubeconfig /config/kubeconfig
  }

  forward . tls://1.1.1.1 tls://1.0.0.1 tls://2606:4700:4700::1111 tls://2606:4700:4700::1001 {
    tls_servername cloudflare-dns.com
  }

  import common

}
