apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ KUBECONFIG.CERTIFICATE_AUTHORITY_DATA }}
    server: {{ KUBECONFIG.SERVER }}
  name: k8s
contexts:
- context:
    cluster: k8s
    user: excoredns
  name: excoredns@k8s
current-context: excoredns@k8s
kind: Config
preferences: {}
users:
- name: excoredns
  user:
    token: {{ KUBECONFIG.TOKEN }}
