apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: external-secrets-azure-credentials
  namespace: kube-system
data:
  tenantid: "{{ EXTERNAL_SECRETS_AZURE_CREDENTIALS_TENANTID | b64encode }}"
  clientid: "{{ EXTERNAL_SECRETS_AZURE_CREDENTIALS_CLIENTID | b64encode }}"
  clientsecret: "{{ EXTERNAL_SECRETS_AZURE_CREDENTIALS_CLIENTSECRET | b64encode }}"
