---
apiVersion: v1
kind: Namespace
metadata:
  name: network
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: coredns-etcd-secret
  namespace: network
data:
  ca.crt: "{{ slurped_etcd_ca_file.content }}"
  cert.pem: "{{ slurped_etcd_cert_file.content }}"
  key.pem: "{{ slurped_etcd_cert_key_file.content }}"
