---
apiVersion: v1
kind: Config
clusters:
- name: default
  cluster:
    certificate-authority-data: {{ certificate_authority }}
    server: https://{{ coredns['k8s_gateway']['api_ip'] }}:6443
contexts:
- name: {{ coredns['k8s_gateway']['service_account'] }}@default
  context:
    cluster: default
    namespace: {{ coredns['k8s_gateway']['service_account_ns'] }}
    user: {{ coredns['k8s_gateway']['service_account'] }}
users:
- name: {{ coredns['k8s_gateway']['service_account'] }}
  user:
    token: {{ certificate_authority_token }}
current-context: {{ coredns['k8s_gateway']['service_account'] }}@default
