delete service dhcp-server

{% if dhcp_server['enabled'] %}
    {# Set global dhcp-server options #}
    {% if dhcp_server['host-decl-name'] is defined and dhcp_server['host-decl-name'] %}
        set service dhcp-server host-decl-name
    {% endif %}
    {% if dhcp_server['hostfile-update'] is defined and dhcp_server['hostfile-update'] %}
        set service dhcp-server hostfile-update
    {% endif %}

    {# Configure dhcp-server per interface #}
    {% for name, settings in dhcp_server['interfaces'].items() %}
        {%- set vyos_interface = vyos_interfaces[name] -%}
        {%- if vyos_interface -%}
            {# Set default settings if required #}
            {% set shared_network_name = settings['shared_network_name'] | default(name | upper) -%}
            {% set subnet = vyos_interface['network']['cidr'] -%}
            {% set default_router = settings['default_router'] | default(vyos_interface['ipv4_addr'] | ansible.netcommon.ipv4('address')) -%}
            {% set dns_server = settings['dns_server'] | default(vyos_interface['ipv4_addr'] | ansible.netcommon.ipv4('address')) -%}
            {% set domain_name = settings['domain'] | default(domain) -%}
            {% set lease = settings['lease'] | default(86400) -%}
            {% set start_addr = vyos_interface['network']['cidr'] | ansible.netcommon.ipv4(settings['start_addr'] | default(100)) | ansible.netcommon.ipv4('address') -%}
            {% set stop_addr = vyos_interface['network']['cidr'] | ansible.netcommon.ipv4(settings['stop_addr'] | default(254)) | ansible.netcommon.ipv4('address') %}

            {# Apply interface specific settings #}
            set service dhcp-server shared-network-name {{ shared_network_name }} authoritative
            set service dhcp-server shared-network-name {{ shared_network_name }} subnet {{ subnet }} default-router {{ default_router }}
            set service dhcp-server shared-network-name {{ shared_network_name }} subnet {{ subnet }} dns-server {{ dns_server }}
            set service dhcp-server shared-network-name {{ shared_network_name }} subnet {{ subnet }} domain-name {{ domain_name }}
            set service dhcp-server shared-network-name {{ shared_network_name }} subnet {{ subnet }} lease '{{ lease }}'
            set service dhcp-server shared-network-name {{ shared_network_name }} subnet {{ subnet }} range 0 start {{ start_addr }}
            set service dhcp-server shared-network-name {{ shared_network_name }} subnet {{ subnet }} range 0 stop {{ stop_addr }}

            {# Add static mappings from address book hosts #}
            {% for hostname, host in vyos_address_book['hosts'].items() %}
                {% if host['dhcp_client'] is not defined or (host['dhcp_client'] is defined and host['dhcp_client'] != false) %}
                    {% if host['network'] is defined and host['network'] == vyos_interface['network']['name'] and host['ipv4_addr'] is defined and host['mac_addr'] is defined %}
                        set service dhcp-server shared-network-name {{ shared_network_name }} subnet {{ subnet }} static-mapping {{ hostname }} mac-address {{ host['mac_addr'] }}
                        set service dhcp-server shared-network-name {{ shared_network_name }} subnet {{ subnet }} static-mapping {{ hostname }} ip-address {{ host['ipv4_addr'] }}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {%- endif -%}
    {% endfor %}
{% endif %}
