delete service mdns repeater
{% if mdns_repeater['enabled'] %}
    {% for name in mdns_repeater['interfaces'] %}
        {%- set vyos_interface = vyos_interfaces[name] -%}
        {%- if vyos_interface -%}
            {% set interface = vyos_interface['interface'] %}
            {% if vyos_interface['vlan_id'] is defined %}
                {% set interface = interface + '.' + (vyos_interface['vlan_id'] | string) %}
            {% endif %}
            set service mdns repeater interface '{{ interface }}'
        {% endif %}
    {% endfor %}
{% endif %}
