{# Reset defaults #}
delete interfaces wireguard

{# Loop through wireguard servers #}
{% for name, server in wireguard['servers'].items() %}
  {% set interface_name = server['interface'] | default(name) %}
  {% set interface = vyos_interfaces[interface_name] %}

  {# Create the interface #}
  set interfaces wireguard {{ interface['interface'] }} address '{{ interface['ipv4_addr'] }}'
  set interfaces wireguard {{ interface['interface'] }} description '{{ server['description'] | default(name) }}'
  set interfaces wireguard {{ interface['interface'] }} port '{{ server['port'] | default(51820) }}'
  set interfaces wireguard {{ interface['interface'] }} private-key '{{ server['private-key'] }}'

  {# Set up the peers #}
  {% for peer in server['peers'] %} 
    set interfaces wireguard {{ interface['interface'] }} peer {{ peer['name'] }} public-key '{{ peer['public-key'] }}'

    {% if peer['ipv4_hostid'] is defined %}
      {# Determine the peer IP based on the host ID #}
      {%- set ipv4_address = interface['network']['cidr'] | ansible.netcommon.ipv4(peer['ipv4_hostid']) -%}
      {%- set ipv4_address = ipv4_address | replace('/24', '/32') -%}
      set interfaces wireguard {{ interface['interface'] }} peer {{ peer['name'] }} allowed-ips '{{ ipv4_address }}'
    {% endif %}

    {# Add any manually specified allowed-ips #}
    {% if peer['allowed_ips'] is defined %}
      {% for ip in peer['allowed_ips'] %}
        set interfaces wireguard {{ interface['interface'] }} peer {{ peer['name'] }} allowed-ips '{{ ip }}'
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endfor %}
