{# Reset defaults #}
delete protocols bgp

{% if bgp['enabled'] %}
  set protocols bgp local-as {{ bgp['local_as'] }}
  set protocols bgp parameters router-id {{ bgp['router_id'] }}
  set protocols bgp parameters default no-ipv4-unicast 

  {% if bgp['redistribute'] is defined %}
    {% if bgp['redistribute']['ospf'] is defined %}
      set protocols bgp local-as {{ bgp['local_as'] }} address-family ipv4-unicast redistribute ospf
    {% endif %}
  {% endif %}

  {% if bgp['redistribute'] is defined %}
    {% if bgp['redistribute']['ospfv3'] is defined %}
      set protocols bgp local-as {{ bgp['local_as'] }} address-family ipv6-unicast redistribute ospfv3
    {% endif %}
  {% endif %}

  {% set bgp_neighbours_ipv4 = [] %}
  {% for bgp_neighbour_group in bgp['neighbour_groups'] %}
    {% for hostname, host in vyos_address_book['hosts'].items() %}
      {% if host['groups'] is defined and bgp_neighbour_group['group'] in host['groups'] %}
        {% set tmp_object = {} %}
        {%- set _ = tmp_object.update({'peer': host['ipv4_addr']}) -%}
        {%- set _ = tmp_object.update({'desc': hostname}) -%}
        {%- set _ = tmp_object.update(bgp_neighbour_group) -%}
        {{ bgp_neighbours_ipv4.append(tmp_object) }}
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% if bgp['neighbours'] is defined %}
    {% set bgp_neighbours_ipv4 = [bgp_neighbours_ipv4 + bgp['neighbours']]%}
  {% endif %}

  {% for neighbour in bgp_neighbours_ipv4 %}
    set protocols bgp neighbor {{ neighbour['peer'] }} remote-as {{ neighbour['remote_as'] }} 
    set protocols bgp neighbor {{ neighbour['peer'] }} address-family ipv4-unicast
    set protocols bgp neighbor {{ neighbour['peer'] }} description "{{ neighbour['desc'] }}"
    {% if neighbour['loc_ip'] is defined %}
      set protocols bgp neighbor {{ neighbour['peer'] }} update-source {{ neighbour['loc_ip'] }}
    {% endif %} 
    {% if neighbour['default_originate'] is defined %}
      set protocols bgp neighbor {{ neighbour['peer'] }} address-family ipv4-unicast default-originate
    {% endif %} 
    {% if neighbour['route_map'] is defined %}
      {% if neighbour['route_map']['in'] is defined %}
        set protocols bgp neighbor {{ neighbour['peer'] }} address-family ipv4-unicast route-map import {{ neighbour['route_map']['in'] }} 
      {% endif %}
      {% if neighbour['route_map']['out'] is defined %}
        set protocols bgp neighbor {{ neighbour['peer'] }} address-family ipv4-unicast route-map export {{ neighbour['route_map']['out'] }} 
      {% endif %}
    {% endif %}
    {% endfor %}
{% endif %}
