allow bootp;
allow booting;

# IP address for PXE-based TFTP methods
next-server {{ vyos_address_book_enriched['hosts']['sm-0']['ipv4_addr'] }};

# Configuration for iPXE clients
class "ipxeclient" {
  match if exists user-class and (option user-class = "iPXE");
  filename "http://{{ vyos_address_book_enriched['hosts']['sm-0']['ipv4_addr'] }}:8081/boot.ipxe";
}

# Configuration for legacy BIOS-based PXE boot
class "biosclients" {
  match if not exists user-class and substring (option vendor-class-identifier, 15, 5) = "00000";
  filename "undionly.kpxe";
}

# Configuration for UEFI-based PXE boot
class "pxeclients" {
  match if not exists user-class and substring (option vendor-class-identifier, 0, 9) = "PXEClient";
  filename "ipxe.efi";
}

# Configuration for UEFI-based HTTP boot
class "httpclients" {
  match if not exists user-class and substring (option vendor-class-identifier, 0, 10) = "HTTPClient";
  option vendor-class-identifier "HTTPClient";
  filename "http://{{ vyos_address_book_enriched['hosts']['sm-0']['ipv4_addr'] }}:8081/tftp/ipxe.efi";
}
